.nav-bar {
    background: #97D2FB;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.nav-container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.nav-logo {
    color: #000;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    vertical-align: middle;
    margin-top: -5px;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;
}
.menu-icon {
    display: none;
}

.nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    list-style: none;
}

.nav-item:hover, .nav-logo:hover {

    border-radius: 15px;
    width: auto;
}

.nav-links {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
    padding: 0 20px;
}

@media screen and (max-width: 960px) {

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        position: absolute;
        top: 80px;
        right: -100%;
        opacity: 1;
        transition: all 0.5s ease-out;
        justify-content: center;
    }
    .nav-menu.active {
        background: #97D2FB;
        right: 0;
        opacity: 1;
        transition: all 0.6s ease-in;
        z-index: 1;
        top: 80px;
        height: 50vh;
    }
    .nav-links {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-links:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
    .nav-item:hover {
        border: none;
    }
    .nav-item {
        width: 100%;
    }
    .nav-logo {
        position: absolute;
        left: 0;
        margin-top: -20px;
        transform: translate(25%, 50%);
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times {
        font-size: 2rem;
    }
}