* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
}
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #fff;
    background-color: #053225;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}
.App {
    flex: 1;
    height: 100%;
}